<ion-header>
    <ion-navbar>
      <ion-title>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content no-padding no-bounce>

        <div id="portada-dashboard-header">
                <img src="assets/i2/back1.jpg" alt="" class="feuan" />
                <img src="assets/i2/logo_admision.png" alt="" class="uan" />
            </div>
        
        

    <ion-grid>
        <ion-row>     
            <ion-col>
                    <button ion-button round color="light" (click)="navigateTo('resultados')" aria-label="Bienvenida">
                        <ion-icon name="md-school" color="primary"></ion-icon>
                     </button>
                    <p (click)="openPageItem('bienvenida')">Bienvenida</p>   
            </ion-col>
            <ion-col >
                    <button ion-button round color="light" (click)="navigateTo('resultados')" aria-label="Bienvenida">
                            <ion-icon name="ios-ribbon" color="primary"></ion-icon>
                    </button>   
                    <p ng-click="navigateTo('resultados')">Resultados Admisión</p>             
            </ion-col>
            <ion-col>
                    <button ion-button round color="light" (click)="navigateTo('requisitos')" aria-label="Bienvenida">
                            <ion-icon name="md-checkbox-outline" color="primary"></ion-icon>
                    </button>
                    <p ng-click="navigateTo('requisitos')">Requisitos Inscripción</p>  
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                    <button ion-button round color="light" (click)="navigateTo('eventos')" aria-label="Bienvenida">
                            <ion-icon name="md-calendar"  color="primary"></ion-icon>
                    </button> 
                    <p ng-click="navigateTo('eventos')">Fechas Importantes</p> 
            </ion-col>
            <ion-col>
                    <button ion-button round color="light" (click)="navigateTo('avisos')" aria-label="Bienvenida">
                            <ion-icon name="ios-paper"  color="primary"></ion-icon>
                    </button>  
                    <p ng-click="navigateTo('avisos')">Noticias y Avisos</p>
            </ion-col>
            <ion-col>
                    <button ion-button round color="light" (click)="navigateTo('acerca_de')" aria-label="Bienvenida">
                            <ion-icon name="md-information-circle"  color="primary"></ion-icon>
                    </button>  
                    <p ng-click="navigateTo('acerca_de')">Acerca de</p>
            </ion-col>
        </ion-row>
    </ion-grid>

  </ion-content>
  