page-main-portada {

    .header-img-container {
    height: 149px;
    background: #FFF;
    background: url("../assets/i2/back1.jpg") no-repeat 50% 0px;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    }
    .header-img-container .header-img {
      /* opacity: 0.7; */
      background: rgba(255, 255, 255, 0.2);
      border-top: 5px solid #1473b9; 
    }


    .footer-img-container {
      height: 149px;
      background: #FFF;
      background: url("../assets/i2/cintilla_hash@2x.png") no-repeat 50% 0px;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      }
  
  #portada-dashboard-header {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: block;
    float: left;
    height: 150px;
    width: 120%;
    max-width: 750px;

    background-size: cover;
 
    img{
      position: absolute
    }


    img.logo {
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
      position: absolute;
      display: block;
      float: left;
      height: auto;
      width: 60%;
      max-width: 750px;
      top: 30%;
      right: 20%;
      background: #ffffff7d;
      overflow: auto;
    }
  }

    .boton{
      ion-icon {
      font-size: 17px;
    }
    .toolbar-title {
      padding: 0 12px;
      font-size: 1.5rem;
      font-weight: 500;
      color: #fcfcfc;
    }
    .button-round {
      border-radius: 6px;
      padding: 0 2.6rem;
    }
  }
    .button-round {
      border-radius: 6px;
      padding: 0 2.6rem;
    }

    ion-row {
      height: 100%;
      flex-wrap: wrap;
    }

    ion-col {
      flex: 0 0 25%;
      max-width: 25%;
      text-align: center;
      padding: 10px 5px;
    }
    .icon{
      ion-icon {
        font-size: 35px;
      }
    }
    .button-round.icon {
      border-radius: 64px;
      padding: 3.2rem 1.5rem;
    }

}
