page-resultados-preparatoria {

    ion-header {
        max-height: 180px ;
        height: 180px ;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        background-image: url(../assets/i/img_preparatoria.jpg);
        background-size: cover;
      }
      .toolbar-background {
        background: transparent;
    }
    .toolbar-title {
        color:#fff;
        width: 90%;
    }
    .back-button{
        color:#fff
    }
}
