
<ion-header>

  <ion-navbar>
    <ion-title text-center>Licenciatura</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Actualizar...">
        </ion-refresher-content>
    </ion-refresher>


 <!-- <ion-card *ngFor="(ida, carreras) in programas">
  <ion-card-header>
      <h3>{{areas[ida]}}</h3>
  </ion-card-header>

  <ion-card *ngFor="programa in carreras">
      <ion-card-header>
          <ion-title>
            <span>{{programa.p}}</span>
          </ion-title>
        </ion-card-header>
  </ion-card>
  </ion-card>-->


</ion-content>
