page-acerca-de {

    ion-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #1170c5;
        background-image: url(../assets/i/admision-header-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center right;
    }
      .toolbar-background {
        background: #f8f8f808;
    }
    .toolbar-title {
        color:#fff;
        width: 90%;
    }
    .back-button{
        color:#fff
    }
    .admision-content {
        background: #FFF;
        margin: 0 auto 8px;
        padding: 10px 10px 20px;
        box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    }

}
