

<ion-content>

  <div padding>

        <ion-item text-center>
          <ion-title>Inicia sesión</ion-title>
          <br>
          <div class="sub-header">para ver tu puntaje individual<br><small>(es tu mismo número de control y contraseña<br>con el que solicitaste la ficha)</small></div>
          <br>
        </ion-item>
        <ion-item>
          <ion-icon name="person" item-left></ion-icon>
          <ion-input required type="text" ng-model="user.nca" placeholder="Núm de Control"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="key" item-left></ion-icon>
          <ion-input required  type="password" ng-model="user.pass" placeholder="Contraseña"></ion-input>
        </ion-item>

      <div padding>
        <button ion-button block color='primary' type="submit" >Ingresar</button>
      </div>

  </div>

  </ion-content>
