page-bienvenida {
    .toolbar {
        height: 180px;
    }

    .toolbar-background {
        max-height: 180px ;
        height: 180px ;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        background-image: url(../assets/i/headers/contacto.jpg);
        background-size: cover;
      }
    .toolbar-title {
        color:#fff;
    }
    .back-button{
        color:#fff
    }

}